div.thumb
  a(href="#")
    li.project1
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project2
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project3
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project4
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project5
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project6
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project7
      div.thumb-info
        h3 Project Name
  a(href="#")
    li.project8
      div.thumb-info
        h3 Project Name
