div.thumb
  a(href="http://blackbirdclothing.herokuapp.com/")
    li.project1
      div.thumb-info
        h3 BB Clothing
  a(href="http://earthhub.herokuapp.com/")
    li.project2
      div.thumb-info
        h3 Earth Hub
  a(href="..projects/")
    li.project3
      div.thumb-info
        h3 The Egg 
  a(href="https://foundationhomes.herokuapp.com/")
    li.project4
      div.thumb-info
        h3 Foundation Homes
  a(href="https://selectvettes.herokuapp.com/home")
    li.project5
      div.thumb-info
        h3 Select Vettes
  a(href="..projects/")
    li.project6
      div.thumb-info
        h3 Trev's Landscape
  a(href="http://trevslandscape.herokuapp.com/")
    li.project7
      div.thumb-info
        h3 Trev's Landscape
  a(href="..projects/")
    li.project8
      div.thumb-info
        h3 Previous Portfolio
