//**********************************
//  ABOUT STYLES
//**********************************

.about-wrapper
  width: 100%
  height: 100vh
  min-height: 500px

.about-display
  width: 100%
  height: 100%
